html {
    text-align: center;
    margin-bottom: 80px;
}

.page-header {
    margin-top: 5px;
    float: left;
    width: 100%;
}


.img-header-vector {
    float: left;
    height: 50px;
}

.img-header-treescape {
    background-color: #18453b;
    float: right;
    height: 50px;
}

@media (max-device-width: 667px) {
    .img-header-vector,
    .img-header-treescape {
        height: 35px;
    }
}

.footer {
    height: 50px;
    background: #072438;
    padding-top: 5px;
}

.footer-link {
    font-size: 0.9em;
}

.text-colour-grey {
    color: #83919b;
}

.text-colour-white {
    color: #ffffff;
}

.page-tab {
    width: 50%;
    font-weight: bold;
}

.title-header {
    margin-bottom: 30px;
}

.nav-tabs {
    margin-bottom: 30px;
}

#poleIdTab {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.search-button {
    margin: auto;
    background-color: #aac341;
    border-color: #aac341;
    color: white;
    max-width: 550px;
    margin-top: 40px;
}

.search-button:active,
.search-button:hover,
.search-button:focus,
.search-button:visited {
    background-color: #8ea233;
    border-color: #8ea233;
    color: white;
}

td:first-child {
    text-align: right;
}

td:last-child {
    text-align: left;
}

#accordion {
    margin-top: 20px;
}

.panel-title {
    text-align: center;
}