html {
    text-align: center;
    margin-bottom: 0;
    height: 100%;
}

body,
.container,
#locationTab {
    height: 100%;
}

.tab-content {
    height: calc(100% - 212px);
}

.page-header {
    margin-top: 5px;
    float: left;
    width: 100%;
}


.img-header-vector {
    float: left;
    height: 50px;
}

.img-header-treescape {
    background-color: #18453b;
    float: right;
    height: 50px;
}

@media (max-device-width: 667px) {
    .img-header-vector,
    .img-header-treescape {
        height: 35px;
    }
}

.footer {
    height: 50px;
    background: #072438;
    padding-top: 5px;
}

.footer-link {
    font-size: 0.9em;
}

.text-colour-grey {
    color: #83919b;
}

.text-colour-white {
    color: #ffffff;
}

.page-tab {
    width: 50%;
    font-weight: bold;
}

.title-header,
.nav-tabs {
    margin-bottom: 30px;
}

#poleIdTab {
    width: 80%;
    margin: auto;
}

.search-button {
    margin: auto;
    background-color: #aac341;
    border-color: #aac341;
    color: white;
    max-width: 550px;
    margin-top: 30px;
}

.search-button:active,
.search-button:hover,
.search-button:focus,
.search-button:visited {
    background-color: #8ea233;
    border-color: #8ea233;
    color: white;
}

.map-search-button {
    margin-top: 10px;
}

td {
    text-align: left;
}

#accordion {
    margin-top: 20px;
}

.panel {
    margin-bottom: 0;
}

.panel-title {
    text-align: center;
}

.panel-group {
    margin-bottom: 55px;
}

#map {
    height: calc(100% - 65px);
    width: 100%;
}

table {
    table-layout: fixed;
}